<%- include('../../partials/header.ejs') %>

<div class="container">
    <hr>
    <!-- mt = margin-top (tem pra todas as opções de magin - top, botton, right, left)-->
    <div class="card mt-4">
        <div class="card-header">
            <h2>Login de Admin</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/authenticate">
                <input class="form-control" type="email" name="email" placeholder="email@exemple.com">
                <br>
                <input class="form-control" type="password" name="password" placeholder="*********">
                <br>

                <!-- btn-block => Faz o botão ocupar o card todo -->
                <button type="submit" class="btn btn-success btn-block">Logar</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>